# This is the code from Derek Banas Python in 2 hours course
https://www.youtube.com/watch?v=H1elmMBnykA&t=79s

In [ ]:
#import libraries
import sys
import math
import random
import threading
import time
from functools import reduce

In [2]:
# ----- INTRO -----
# Python files end with the extension .py
# Print to the console
# Python statements terminate with a newline
print("Hello World")

Hello World

### User input

In [5]:
#take inut from the user
name =input("What is your name?")
print("Hi,",name)

What is your name?Madhu
Hi, Madhu

In [7]:
# Extend a statement to multiple lines using parenthesis
v1=(
1+2
+3)
print (v1)

6

In [8]:
# Extend a statement to multiple lines using \
v2= 1+2\
+3
print(v2)

6

In [9]:
#put multiple statements on 1 line
v3=7;v3=v3-1;print(v3)

6

In [11]:
'''Multi-line
Comment'''

'Multi-line\nComment'

In [12]:
# ----- VARIABLES -----
# Variables are names assigned to values
# The 1st character must be _ or a letter
# Then you can use letters, numbers or _
# Variable names are type sensitive
v2 = 1
V2 = 2  # v1 is different from V1
# You can assign multiple variables
v3 = v4 = 20

In [22]:
# ----- DATA TYPES -----
# Data in Python is dynamically typed and that
# data type can change
# All data is an object which I cover later
# The basic types are integers, floats,
# complex numbers, strings, booleans
# Python doesn't have a character type
bool = True
print(type(10))
print(type(name))
print(type(10.0005))
print(type(bool))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [23]:
 #There is no limit to the size of integers
# This is a way to get a practical max size
print(sys.maxsize)

9223372036854775807

In [24]:
# Floats are values with decimal values
# This is how to get a max float
print(sys.float_info.max)

1.7976931348623157e+308

In [27]:
# But, they are accurate to 15 digits
f1 = 1.1111111111111111
f2 = 1.1111111111111111
f3 = f1 + f2
print(f3)
# Complex numbers are [real part]+[imaginary part]
cn1 = 5 + 6j
print(cn1)

2.2222222222222223
(5+6j)

In [28]:
# Booleans are either True or False
b1 = True

In [30]:
# Strings are surrounded by ' or "
str1 = "Escape Sequences \' \t \" \\ and \n printed"
print(str1)

Escape Sequences ' 	 " \ and
 printed

In [32]:
str2 = '''Triple quoted strings can contain ' and "'''
print(str2)

Triple quoted strings can contain ' and "

### Type casting data types

In [36]:
# You can cast to different types with int, float,
# str, chr
print("Cast ", type(int(5.4)))  # to int
print("Cast 2 ", type(str(5.4)))  # to string
print("Cast 3 ", type(chr(97)))  # to string
print("Cast 4 ", type(ord('a')))  # to int
print("Cast 5 ", type(ord("$")))  # to int

Cast  <class 'int'>
Cast 2  <class 'str'>
Cast 3  <class 'str'>
Cast 4  <class 'int'>
Cast 5  <class 'int'>

# ----- OUTPUT -----

In [38]:
# You can define a separator for print
print(12, 21, 1974, sep='/')
a=10
b=12
c=1909
print(a,b,c,sep='/')

12/21/1974
10/12/1909

In [42]:
# Eliminate newline
print("1.No Newline.", end='')
print("This is the next line")

print("2.No Newline.?")
print("This is the next line")

1.No Newline.This is the next line
2.No Newline.?
This is the next line

In [43]:
# String formatting %e for exponent
print("\n%04d %s %.2f %c" % (1, "Derek", 1.234, 'A'))

0001 Derek 1.23 A