# This is the code from Derek Banas Python in 2 hours course
https://www.youtube.com/watch?v=H1elmMBnykA&t=79s

In [27]:
#import libraries
import sys
import math
import random
import threading
import time
from functools import reduce

In [28]:
# ----- INTRO -----
# Python files end with the extension .py
# Print to the console
# Python statements terminate with a newline
print("Hello World")

Hello World

### User input

In [29]:
#take inut from the user
name =input("What is your name?")
print("Hi,",name)

Hi, tatha2099

In [30]:
# Extend a statement to multiple lines using parenthesis
v1=(
1+2
+3)
print (v1)

6

In [31]:
# Extend a statement to multiple lines using \
v2= 1+2\
+3
print(v2)

6

In [32]:
#put multiple statements on 1 line
v3=7;v3=v3-1;print(v3)

6

In [33]:
'''Multi-line
Comment'''

'Multi-line\nComment'

In [34]:
# ----- VARIABLES -----
# Variables are names assigned to values
# The 1st character must be _ or a letter
# Then you can use letters, numbers or _
# Variable names are type sensitive
v2 = 1
V2 = 2  # v1 is different from V1
# You can assign multiple variables
v3 = v4 = 20

In [35]:
# ----- DATA TYPES -----
# Data in Python is dynamically typed and that
# data type can change
# All data is an object which I cover later
# The basic types are integers, floats,
# complex numbers, strings, booleans
# Python doesn't have a character type
bool = True
print(type(10))
print(type(name))
print(type(10.0005))
print(type(bool))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [36]:
 #There is no limit to the size of integers
# This is a way to get a practical max size
print(sys.maxsize)

9223372036854775807

In [37]:
# Floats are values with decimal values
# This is how to get a max float
print(sys.float_info.max)

1.7976931348623157e+308

In [38]:
# But, they are accurate to 15 digits
f1 = 1.1111111111111111
f2 = 1.1111111111111111
f3 = f1 + f2
print(f3)
# Complex numbers are [real part]+[imaginary part]
cn1 = 5 + 6j
print(cn1)

2.2222222222222223
(5+6j)

In [39]:
# Booleans are either True or False
b1 = True

In [40]:
# Strings are surrounded by ' or "
str1 = "Escape Sequences \' \t \" \\ and \n printed"
print(str1)

Escape Sequences ' 	 " \ and
 printed

In [41]:
str2 = '''Triple quoted strings can contain ' and "'''
print(str2)

Triple quoted strings can contain ' and "

### Type casting data types

In [42]:
# You can cast to different types with int, float,
# str, chr
print("Cast ", type(int(5.4)))  # to int
print("Cast 2 ", type(str(5.4)))  # to string
print("Cast 3 ", type(chr(97)))  # to string
print("Cast 4 ", type(ord('a')))  # to int
print("Cast 5 ", type(ord("$")))  # to int

Cast  <class 'int'>
Cast 2  <class 'str'>
Cast 3  <class 'str'>
Cast 4  <class 'int'>
Cast 5  <class 'int'>

# ----- OUTPUT -----

In [43]:
# You can define a separator for print
print(12, 21, 1974, sep='/')
a=10
b=12
c=1909
print(a,b,c,sep='/')

12/21/1974
10/12/1909

In [44]:
# Eliminate newline
print("1.No Newline.", end='')
print("This is the next line")

print("2.No Newline.?")
print("This is the next line")

1.No Newline.This is the next line
2.No Newline.?
This is the next line

In [45]:
# String formatting %e for exponent
print("\n%04d %s %.2f %c" % (1, "Derek", 1.234, 'A'))

0001 Derek 1.23 A

In [46]:
print("5 + 2 =", 5 + 2)
print("5 - 2 =", 5 - 2)
print("5 * 2 =", 5 * 2)
print("5 / 2 =", 5 / 2)
print("5 % 2 =", 5 % 2)
print("5 ** 2 =", 5 ** 2)
print("5 // 2 =", 5 // 2)

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 % 2 = 1
5 ** 2 = 25
5 // 2 = 2

In [47]:
# Shortcuts
i1 = 2
i1 += 1
print("i1 ", i1)

i1  3

## Math functions

In [48]:
# Math Functions
print("abs(-1) ", abs(-1))
print("max(5, 4) ", max(5, 4))
print("min(5, 4) ", min(5, 4))
print("pow(2, 2) ", pow(2, 2))
print("ceil(4.5) ", math.ceil(4.5))
print("floor(4.5) ", math.floor(4.5))
print("round(4.5) ", round(4.5))
print("exp(1) ", math.exp(1))  # e**x
print("log(e) ", math.log(math.exp(1)))
print("log(100) ", math.log(100, 10))  # Base 10 Log
print("sqrt(100) ", math.sqrt(100))
print("sin(0) ", math.sin(0))
print("cos(0) ", math.cos(0))
print("tan(0) ", math.tan(0))
print("asin(0) ", math.asin(0))
print("acos(0) ", math.acos(0))
print("atan(0) ", math.atan(0))
print("sinh(0) ", math.sinh(0))
print("cosh(0) ", math.cosh(0))
print("tanh(0) ", math.tanh(0))
print("asinh(0) ", math.asinh(0))
print("acosh(pi) ", math.acosh(math.pi))
print("atanh(0) ", math.atanh(0))
print("hypot(0) ", math.hypot(10, 10))  # sqrt(x*x + y*y)
print("radians(0) ", math.radians(0))
print("degrees(pi) ", math.degrees(math.pi))

abs(-1)  1
max(5, 4)  5
min(5, 4)  4
pow(2, 2)  4
ceil(4.5)  5
floor(4.5)  4
round(4.5)  4
exp(1)  2.718281828459045
log(e)  1.0
log(100)  2.0
sqrt(100)  10.0
sin(0)  0.0
cos(0)  1.0
tan(0)  0.0
asin(0)  0.0
acos(0)  1.5707963267948966
atan(0)  0.0
sinh(0)  0.0
cosh(0)  1.0
tanh(0)  0.0
asinh(0)  0.0
acosh(pi)  1.811526272460853
atanh(0)  0.0
hypot(0)  14.142135623730951
radians(0)  0.0
degrees(pi)  180.0

In [49]:
# Generate a random int
print("Random", random.randint(1, 101))
print(random.randint(1,100))

Random 1
17

In [50]:
# ----- NaN & inf -----
# inf is infinity
print(math.inf > 0)
print(math.inf < 0)

True
False

In [51]:
# NaN is used to represent a number that can't
# be defined
print(math.inf - math.inf)

nan

In [1]:
"""just a comment 26 march 2020"""

'just a comment 26 march 2020'